.circle {
  margin-top: 30px;
  border: none;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  outline: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  cursor: pointer;
}
.circle:active {
  box-shadow: 0 1px;
  transform: translateY(4px);
  font-weight: 700;
}
