.multiple-choice-card {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mc-card-middle {
  margin-top: 3rem;
}

@media (max-width: 420px) {
  .multiple-choice-card {
    height: 82vh;
    justify-content: space-between;
    align-items: center;
  }

  .mc-card-middle {
    margin-top: 0;
    margin-bottom: 3rem;
  }
}
