.not-found {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found img {
  width: 300px;
}

.not-found-heading span {
  color: rgb(255, 0, 0);
}

.back-home-button {
  font-size: 1.1rem;
  width: 140px;
  padding: 15px 16px;
  margin-top: 1rem;
  border: none;
  border-radius: 15px;
  background-color: #1cb0f6;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

.back-home-button:hover {
  background-color: #51bff1;
}
