.practice-section {
  width: 76%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.practice-cards {
  width: 46%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4rem;
  column-gap: 4rem;
}

.practice-card {
  height: 200px;
  width: 200px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.practice-mascot {
  width: 104px;
}

.practice-cards a {
  color: #ffff;
  text-decoration: none;
}

.lesson-practice {
  background-color: #ff4b4b;
}

.lesson-practice:hover {
  background-color: #ff6e6e;
}

.vocabulary-practice {
  background-color: #ff9600;
}

.vocabulary-practice:hover {
  background-color: #ffa528;
}

.listening-practice {
  background-color: #2b70c9;
}

.listening-practice:hover {
  background-color: #4a7cbd;
}

.test-practice {
  background-color: #ce82ff;
}

.test-practice:hover {
  background-color: #d39df7;
}

@media (max-width: 735px) {
  .practice-cards {
    width: 70%;
  }
}

@media (max-width: 650px) {
  .practice-card {
    height: 180px;
    width: 180px;
  }
}

@media (max-width: 535px) {
  .practice-section {
    width: 100%;
    height: 90vh;
  }
  .practice-card {
    height: 170px;
    width: 170px;
    font-size: 1.3rem;
  }

  .practice-mascot {
    width: 94px;
  }

  .practice-cards {
    width: 90%;
    row-gap: 1rem;
    column-gap: 1rem;
    padding-left: 2rem;
  }
}

@media (max-width: 420px) {
  .practice-cards {
    margin-bottom: 6rem;
  }
  .practice-card {
    height: 158px;
    width: 158px;
  }
}
