.tips {
  background-color: rgb(197, 225, 235);
  padding: 15px 35px;
  border-radius: 10px;
}

.tip-content span {
  color: rgb(30, 144, 182);
}

.tip-content {
  padding-bottom: 80px;
}

.unit-two-content {
  padding-bottom: 40px;
}

.unit-four-content {
  padding-bottom: 0;
}
