.user-profile {
  width: 76%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-bottom: 4rem;
}

.name-circle {
  border: 1px dashed grey;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.8rem;
  font-weight: bold;
  color: rgb(156, 156, 156);
  margin-right: 2rem;
}

.name-card {
  font-size: 1.2rem;
}

.username {
  margin-bottom: 0.9rem;
  font-weight: 400;
}

.joined {
  color: rgb(133, 133, 133);
}

.edit-profile-btn {
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 25px 30px;
  background-color: #2b70c9;
  color: #ffffff;
  border-radius: 10%;
  cursor: pointer;
}

.edit-profile-btn:hover {
  background-color: #3f7ccc;
}

@media (max-width: 860px) {
  .name-circle {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 570px) {
  .name-circle {
    width: 100px;
    height: 100px;
    font-size: 3rem;
  }
}

@media (max-width: 535px) {
  .user-profile {
    width: 100%;
    height: 80vh;
  }

  .edit-profile-btn {
    padding: 20px 25px;
  }
}

@media (max-width: 420px) {
  .profile-card {
    flex-direction: column;
  }

  .name-circle {
    width: 150px;
    height: 150px;
    font-size: 5rem;
  }

  .username {
    font-size: 1.8rem;
  }

  .joined {
    font-size: 1.3rem;
  }

  .edit-profile-btn {
    height: 5.4rem;
    font-size: 1.3rem;
  }
}
