.account-container {
  width: 76%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-wrapper {
  width: 80%;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 0.8rem;
}

.account-form {
  width: 80%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account-form button {
  border: none;
  border-radius: 10%;
  padding: 1rem;
  background-color: #2b70c9;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  width: 20%;
}

.account-form button:hover {
  background-color: #3f7ccc;
}

.input-wrapper {
  margin-top: 0.8rem;
  width: 60%;
  display: flex;
  align-items: center;
  padding-right: 3rem;
}

.input-wrapper label {
  display: block;
  width: 20%;
  text-align: center;
  margin-left: 2.1rem;
}

.input-wrapper input {
  margin-left: 1.2rem;
  border-radius: 8px;
  font-size: 1.1rem;
  height: 1.5rem;
  padding: 0.3rem 0;
  padding-left: 0.5em;
  width: 48%;
  border: 1px solid grey;
}

.name-form button {
  margin-top: 3rem;
}

.form-status-message {
  color: #58cc02;
  font-size: 1.1rem;
  font-weight: 550;
}

.form-error {
  color: #ff4b4b;
}

@media (max-width: 890px) {
  .account-container {
    width: 90%;
  }
}

@media (max-width: 750px) {
  .account-container {
    width: 94%;
  }

  .input-wrapper {
    width: 70%;
  }

  .account-form button {
    width: 30%;
  }

  .input-wrapper label {
    margin-right: 1rem;
  }

  .input-wrapper input {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .account-form button {
    width: 40%;
  }
}

@media (max-width: 535px) {
  .account-container {
    width: 100%;
    padding-bottom: 100px;
  }

  .input-wrapper {
    width: 80%;
  }

  .account-form button {
    width: 40%;
  }
}
