.audio-box-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 52%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.audio-box {
  background-color: #2b70c9;
  border-radius: 10%;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-box:hover {
  background-color: #4a81c9;
}
.normal-audio {
  height: 120px;
  width: 120px;
  margin-right: 1.3rem;
}

.normal-audio img {
  width: 110px;
}

.slow-audio {
  height: 90px;
  width: 90px;
}

.slow-audio img {
  width: 70px;
}

@media (max-width: 535px) {
  .normal-audio {
    height: 80px;
    width: 80px;
  }

  .normal-audio img {
    width: 70px;
  }

  .slow-audio {
    height: 60px;
    width: 60px;
  }

  .slow-audio img {
    width: 46px;
  }
}

@media (max-width: 420px) {
  .normal-audio {
    height: 86px;
    width: 86px;
  }

  .slow-audio {
    height: 66px;
    width: 66px;
  }
}
