.card-bottom,
.check-answer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.2rem;
}

.solution {
  margin-left: 1.5rem;
  color: #3aa700;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.right-answer {
  background-color: #cbff8b;
}

.wrong-answer {
  background-color: #fa9191;
}

.wrong-solution {
  color: #a30d0d;
}

.listening-solution-wrapper {
  display: flex;
  flex-direction: column;
}

.listening-solution {
  margin-bottom: 0.4rem;
}

.check-answer-btn {
  width: 8.2rem;
  height: 2.8rem;
  border: none;
  border-radius: 25%;
  text-transform: capitalize;
  margin-right: 3rem;
  cursor: pointer;
  background-color: #58cc02;
  color: #fff;
  font-weight: 600;
}

.check-answer-btn:hover {
  background-color: #68e706;
}

.wrong-answer-button {
  border: 1px solid #ff4b4b;
  background-color: #ff4b4b;
}

.wrong-answer-button:hover {
  background-color: #f85555;
}

.wrong-answer-message {
  margin-bottom: 0.6rem;
}

@media (max-width: 535px) {
  .card-bottom,
  .check-answer-wrapper {
    padding: 0.9rem 0;
    align-items: center;
    padding-bottom: 80px;
  }

  .check-answer-btn {
    font-size: 0.8rem;
    margin-right: 1rem;
    width: 6.2rem;
  }
}

@media (max-width: 420px) {
  .check-answer-btn {
    height: 3.5rem;
  }

  .card-bottom,
  .check-answer-wrapper {
    padding-top: 0.8rem;
    padding-bottom: 1rem;
  }
}
