.circle {
  margin-top: 18px;
  border: none;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  outline: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  cursor: pointer;
  position: relative;
  /* background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  ); */
  /* background: linear-gradient(to right, #d4af37, #ffd700, #d4af37); */
}
.circle:active {
  box-shadow: 0 1px;
  transform: translateY(4px);
  font-weight: 700;
}
