.circle {
  margin-top: 18px;
  border: none;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  outline: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  cursor: pointer;
  position: relative;
}
.circle:active {
  box-shadow: 0 1px;
  transform: translateY(4px);
  font-weight: 700;
}
