.picture-problem {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.image-container {
  width: fit-content;
}

.image {
  border: 1px solid rgb(182, 182, 182);
  border-radius: 10%;
  /* width: 180px;
  height: 110px; */
  padding: 0.7rem 1.5rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 100px;
}

.pic-sentence-container {
  width: 40%;
  display: flex;
  align-items: center;
}

.pic-sentence {
  font-size: 1.1rem;
  margin-left: 1rem;
}

.pic-blank {
  border-bottom: 2px solid black;
  width: 27%;
  height: 20px;
  text-align: center;
  padding-bottom: 0.4rem;
  margin: 0 0.5rem;
}

.pic-middle {
  margin-top: 6rem;
}

.word-elements {
  margin-left: 5px;
}

@media (max-width: 930px) {
  .pic-sentence-container {
    width: 48%;
  }
}

@media (max-width: 580px) {
  .pic-sentence-container {
    width: 56%;
  }
  .image img {
    width: 70px;
  }

  .pic-blank {
    margin-right: 1rem;
    margin-left: 0.7rem;
  }
}

@media (max-width: 535px) {
  .image img {
    width: 86px;
  }
  .pic-sentence-container {
    width: 54%;
  }

  .pic-blank {
    margin-right: 0.1rem;
    margin-left: 0.7rem;
  }
}
