.practice-section {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.practice-cards {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4rem;
}

.practice-card {
  height: 200px;
  width: 200px;
  border-radius: 10%;
  border: 1px solid red;
}
