.question-card {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 535px) {
  .question-card {
    height: 100vh;
  }
}
