.question-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mc-header {
  align-items: flex-start;
}

.exit-lesson {
  width: 100%;
}

.exit-button {
  border: none;
  font-size: 1.8rem;
  background-color: white;
  color: #afafaf;
  cursor: pointer;
  margin-top: 1.5rem;
  margin-left: 1.4rem;
}

.exit-button:hover {
  color: #e5e5e5;
}

.question-heading-container {
  width: 74%;
}

.question-heading {
  margin-top: 0.1rem;
  font-size: 1.3rem;
}

@media (max-width: 535px) {
  .question-header {
    height: 12vh;
  }

  .exit-button {
    font-size: 1.5rem;
    margin-top: 1.3rem;
    margin-left: 1rem;
  }

  .question-heading {
    font-size: 1.1rem;
    /* margin-left: 1rem; */
  }
}

@media (max-width: 420px) {
  .exit-button {
    font-size: 1.5rem;
    margin-left: 0.2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .question-heading {
    font-size: 1.4rem;
    /* margin-left: 0.5rem; */
  }
}
