.unit-vocab {
  width: 76%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.unit-vocab-header {
  margin-top: 3rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.unit-vocab-content {
  width: 80%;
  align-self: center;
  display: flex;
  justify-content: center;
}

.vocab-table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  width: 70%;
}

.vocab-table td {
  padding: 0.9rem;
  text-align: center;
}

.vocab-table th {
  background-color: #3b5998;
  background-color: #2b70c9;
  padding: 1.2rem;
  color: #ffff;
}

.row-even {
  background-color: #8b9dc3;
  background-color: #afafaf;
  font-weight: 420;
}

.row-odd {
  background-color: #dfe3ee;
  background-color: #e5e5e5;
  font-weight: 420;
}
