.boy-card,
.girl-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px 0;
  background-color: #ffffff;
}

.boy-card {
  margin-bottom: 1rem;
}

.card-text {
  margin-left: 30px;
}

.boy-card img,
.girl-card img {
  margin-right: 20px;
}

.spanish-text {
  margin-bottom: 10px;
  border-bottom: 2px dashed grey;
  padding-bottom: 2px;
}

.table-container {
  display: flex;
  flex-direction: column;
}

.unit-one-table {
  border-collapse: collapse;

  margin-bottom: 2rem;
}

.unit-one-table td,
.unit-one-table th {
  border: 1px solid black;
  text-align: center;
}

.unit-one-table th {
  padding: 1rem 0;
}

.unit-one-table td {
  padding: 0.5rem 0;
}

.table-spanish {
  font-weight: 700;
}

.table-english {
  color: grey;
}

.conjugation-example {
  display: flex;
  flex-direction: column;
}

.conjugation-example-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.example-img {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.english-text {
  color: rgb(136, 136, 136);
}

@media (max-width: 705px) {
  .tips {
    width: 94%;
  }
  .example-img img {
    width: 100%;
  }
}

@media (max-width: 535px) {
  .tip {
    width: 90%;
  }
}

@-moz-document url-prefix() {
  table {
    width: 90%;
  }
}
