.unit {
  width: 60%;
  margin-top: 10px;
  margin-bottom: 40px;
}

.unit-path {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.top-left-mascot,
.bottom-right-mascot {
  /* width: 190px; */
  position: absolute;
  right: 390px;
  bottom: 250px;
}

.bottom-right-mascot {
  /* width: 160px; */
}

.bottom-right-mascot {
  left: 420px;
  top: 250px;
}

@media (max-width: 1000px) {
  .unit {
    width: 80%;
  }

  .bottom-right-mascot {
    left: 410px;
  }
}

@media (max-width: 755px) {
  .unit {
    width: 90%;
  }

  .top-left-mascot {
    right: 340px;
  }

  .bottom-right-mascot {
    left: 380px;
  }
}

@media (max-width: 670px) {
  .unit {
    width: 95%;
  }

  .top-left-mascot {
    right: 320px;
  }

  .bottom-right-mascot {
    left: 330px;
  }
}
